@model ClientSide.UserServiceReference.Recipe

@{
    ViewBag.Title = "RecipeDetails";
}

<h2>RecipeDetails</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe_minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe_minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe_veg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe_veg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe_vegan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe_vegan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cheap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cheap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dairyfree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dairyfree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.glutenfree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.glutenfree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sustainable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sustainable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
