@model FoodService.Recipe

@{
    ViewBag.Title = "Recipe Details";
}

<table class="table">
    <tr>
        <th>
            <p>Instructions</p>
        </th>
        <th>
            <p>ID</p>
        </th>
        <th>
            <p>Minutes</p>
        </th>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Vegetarian</p>
        </th>
        <th>
            <p>Vegan</p>
        </th>
        <th>
            <p>Cheap</p>
        </th>
        <th>
            <p>Dairy Free</p>
        </th>
        <th>
            <p>Gluten Free</p>
        </th>
        <th>
            <p>Image</p>
        </th>
        <th>
            <p>Image Type</p>
        </th>
        <th>
            <p>Sustainable</p>
        </th>

    </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Instructions)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => modelItem.Recipe_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Recipe_minutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Recipe_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Recipe_veg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Recipe_vegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.cheap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.dairyfree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.glutenfree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.imageTyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.sustainable)
            </td>
        </tr>


</table>
