@model List<FoodService.Recipe>

@{
    ViewBag.Title = "Recipes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Image</p>
        </th>
        <th>
            <p>Time to make</p>
        </th>
        <th>
            <p>Vegetarian</p>
        </th>
        <th>
            <p>Vegan</p>
        </th>
        <th>
            <p>Cheap</p>
        </th>
        <th>
            <p>Dairy Free</p>
        </th>
        <th>
            <p>Gluten Free</p>
        </th>
        <th>
            <p>Sustainable</p>
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <!--
    <td>
        @Html.DisplayFor(modelItem => item.Recipe_id)
    </td>
    -->
        <td>
            @Html.DisplayFor(modelItem => item.Recipe_name)
        </td>
        <td>
            <a href="@Url.Action("RecipeDetails", "Recipe", new {id = item.Recipe_id})" class="links">
                <img src="@Url.Content(item.image)" style="width: 150px; height: 150px;">
            </a>
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe_minutes) minutes

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe_veg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe_vegan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cheap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dairyfree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.glutenfree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sustainable)
        </td>
        <td>
            @Html.ActionLink("Details", "RecipeDetails", new {id=item.Recipe_id})
        </td>
    </tr>
    }

</table>
